<div>
    <table class="table" aria-describedby="tabla de vehiculos">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Marca</th>
                <th scope="col">Linea</th>
                <th scope="col">Modelo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let vehiculo of listaVehiculos">
                <th scope="row">{{vehiculo.id}}</th>
                <td>{{vehiculo.marca}}</td>
                <td>{{vehiculo.linea}}</td>
                <td>{{vehiculo.modelo}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <div><span>Total Renault: {{obtenerTotalVehiculosRenault}}</span></div>
    <div><span>Total Chevrolet: {{obtenerTotalVehiculosChevrolet}}</span></div>
    <div><span>Total Nissan: {{obtenerTotalVehiculosNissan}}</span></div>
</div>