<div class="container">

  <header>
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center me-lg-auto text-dark text-decoration-none">
        <h1>TuSegundazo.com</h1>
      </a>
    </div>
  </header>
  <hr>
  <div class="row">
    <div class="col-12">
      <img src="../assets/image.png" class="img-fluid w-100" alt="banner-principal">
    </div>
  </div>
</div>

<div class="container">
  <app-lista-vehiculo></app-lista-vehiculo>
</div>

<div class="container">
  <footer class="text-center">
    <span>Contact us: +57 3102105253 - info@tusegundazo.com - @tusegundazo</span>
  </footer>
</div>

<router-outlet></router-outlet>